<style>
body {
  background-color: lightblue;
  
}

h1 {
  vertical-align: top;
	background-color: #D9E7F8;
	color: #000080;
	font-weight: 600;
	margin-top: 5px;
	margin-left: 20px;
	border-radius: 5px;
	display: inline-block;
	padding: 15px 25px;
}
}

.btn{
  background-color: #008CBA;
  border: white;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
.tex{
    color:blue ;
    font-family: New Century Schoolbook, TeX Gyre Scholafo, serif;
    margin-left: 20px;

}
.btn {
  transition-duration: 0.4s;
}

.btn:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.bttn{
    background-color: #008CBA;
  border: white;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;

}
.bttn:hover {
    background-color: #4CAF50; /* Green */
    color: white;}
</style>
<h1>Register for New Course</h1>

<%= form_for @enrollment do |f|%>
    <%= f.label :course_id, class: 'tex'%>
    <%= f.collection_select :course_id, Course.all, :id, :name%>
    <%= f.label :student_id, class: 'tex'%>
    <%= f.collection_select :student_id, Student.all, :id, :name%>
    <%= f.submit class: 'bttn'%>
<%end%>